<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <header><%- include('../layout/header') %></header>
    <main>
      <ul>
        <li>
          <% results.forEach(elem => { %>
          <h4>Task: <%= elem.title %></h4>
          <p>Status: <%= elem.status %></p>
          <a href="/tasks/<%= elem.id %>">View Details</a>
        </li>
        <% }) %>
      </ul>
    </main>

    <footer><%- include('../layout/footer') %></footer>
  </body>
</html>
